@model TaskManagement.Entities.TblDmLabel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-customized mt-5">
    <div class="card-customized p-4">
        <h3 class="text-center mb-4 card-customized-header">Tạo Nhãn Dán</h3>
        <form>
            <div class="mb-3">
                <label for="code" class="form-label">Code <span class="text-danger">*</span></label>
                <input asp-for="Code" class="form-control" placeholder="Nhập mã nhãn" />
            </div>

            <div class="mb-3">
                <label for="name" class="form-labelabel">Name <span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" placeholder="Nhập mã nhãn" />
            </div>

            <div class="mb-3">
                <label for="color" class="form-label">Color <span class="text-danger">*</span></label>
                <input type="color"
                       class="control-customized form-control-color"
                       id="color"
                       value="#000000"
                       required />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <textarea id="description" class="control-customized" rows="3"></textarea>
            </div>
@* 
            <div class="mb-4">
                <label for="status" class="form-label">Trạng thái <span class="text-danger">*</span></label>
                <select class="select-customized" id="status" required>
                    <option selected>Tồn đọng</option>
                    <option>Đang thực hiện</option>
                    <option>Hoàn thành</option>
                </select>
            </div> *@

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn-custom px-4">
                    <i class="fas fa-check pr-1 "></i>Tạo Nhãn Dán
                </button>
            </div>
            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-link text-secondary">← Trở về</a>
            </div>
        </form>
    </div>
</div>


