.create {
    background-color: #FFFFFF;
    width: 95%;
}
hr{
    width: 95%;
    margin-right: 75px;
}
.buttoncreate {
    max-width: 100%;
    width: 77%;
    margin-left: 45px;
    padding-left: 10px;
    border-radius: 15px;
}
.label {
    max-width: 250px;
    width: 240px;
    font-weight: bold;
}
.datestart{
    width: 38.5%;
    margin-left: 45px;
}
.dateend {
    width: 38.5%;
}
.textarea {
    margin-left: 45px;
}
.progress-bar {
    font-weight: bold;
    color: white;
    text-align: center;
}

.card {
    border-radius: 10px;
}

.card-body {
    background-color: #f9f9f9;
}

h1 {
    font-family: 'Arial', sans-serif;
}