@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
<link rel="stylesheet" href="~/css/login/assets/css/styles.css">

<svg class="login__blob" viewBox="0 0 850 900" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
        <image href="/css/login/assets/img/lgkhoa.jpg" x="0" y="0" width="800" height="900" />
    </g>
</svg>

<div class="login container grid" id="loginAccess">
    <div class="login__access">
        <h1 class="login__title">Đăng nhập</h1>

        <div class="login__area">
            <form id="account" method="post" class="login__form">
                <div class="login__content grid">
                    <div class="login__box">      
                        <input asp-for="Input.UserName" class="login__input" id="floatingEmail" autocomplete="username" aria-required="true" />
                        <label class="login__label" for="floatingEmail">Tên người dùng,  Email hoặc Mã nhân viên</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>

                        <i class="ri-mail-fill login__icon"></i>
                    </div>

                    <div class="login__box">
                        <input asp-for="Input.Password" type="password" class="login__input" id="floatingPassword" autocomplete="current-password" aria-required="true" />
                        <label class="login__label" for="floatingPassword">Mật khẩu</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <i class="ri-eye-off-fill login__icon login__password" id="Password"></i>
                    </div>
                </div>

                <a href="#" class="login__forgot">Quên mật khẩu?</a>

                <button id="login-submit" type="submit" class="login__button">Đăng nhập</button>
            </form>
        </div>
    </div> 

   
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/css/login/assets/js/main.js"></script> 
}
